<!-- Titulo -->
<ion-header [translucent]="true">
  <ion-toolbar style="color: #EEEEEE">
    <ion-title style=" color: #76ABAE">
      Agenda
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="conteiner">

<ion-grid>
<ion-row *ngFor=" let dados of dadosAgenda, let i=index" class="card-data">
  <ion-col col-12>
   
    <!-- Inicio do DataTime -->
    <ion-row>
      <span class="titulo-cor">Compromisso</span>
      <ion-toggle
        checked="{{dados.ativo}}"
        [(ngModel)]="dados.ativo"
        (ionChange)="ativaCompromisso(i)"
      ></ion-toggle>
    </ion-row>
    
    <div class="card-conteiner">
      <ion-row>
        <ion-input value="{{dados.texto}}" [(ngModel)]="dados.texto"></ion-input>
      </ion-row>
    </div>
    
    <!-- DateTime -->
    <ion-row>
      <ion-item style=" border-color: #EEEEEE;">
        <ion-label class="datetime-text">Data:</ion-label>
        <ion-datetime-button datetime="datetime" class="datetime-button"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" class="datetime"></ion-datetime>
          </ng-template>
        </ion-modal>

    </ion-item>
    </ion-row>

  </ion-col>
</ion-row>
</ion-grid>

<!-- Botão de Add -->
    <ion-button expand="block" id="present-alert" fill="outline">
      <ion-icon name="add" color="black"></ion-icon>
    </ion-button>
    <ion-alert
  trigger="present-alert"
  header="Você deseja criar um novo compromisso?"
  [buttons]="adicionar"
></ion-alert>

</ion-content>

<ion-footer class="footer">

  <ion-button style=" width: 400px;" (click)="mudar(true)" class="ativar">Ativar todos</ion-button>

  <ion-button style=" width: 200px; height: 34px;" (click)="apagar()" class="apagar">
    <ion-icon name="trash"></ion-icon>
  </ion-button>

  <ion-button style=" width: 400px;" (click)="mudar(false)" class="desativar">Desativar todos</ion-button>

</ion-footer>